body{
  background-color: #fff;
  background-size: cover;
}
/*---------------------header----------------------------------------------------------------------------*/
header h1 {
    margin: 50px 0 30px 0; /* 上50px、右0px、下30px、左0px のマージンを指定 */
    text-align: center; /* 内容を中央揃えに */
}
header nav ul { /* リスト */
    width: auto; /* 幅を自動指定 */
    padding-left: 0; /* デフォルトスタイルをリセット */
    margin: 0 auto 30px auto; /* 上 0px、右 auto、下 30px、左 auto */
    list-style-type: none; /* リストマーカーを消す */
}
header nav ul li { /* リスト項目 */
    width: 155px; /* 幅を155pxに指定 */
    margin-right: 2px; /* リスト項目と右隣りのリスト項目の間を2px空ける */
    float: left; /* 左フロート */
    text-align: center; /* テキストを中央揃え */
}
header nav ul li:last-child {/* 最後のリスト項目 */
    margin-right: 0; /* 右マージン0 */
}
.clearfix:after { /* clearfix */
    content:"";
    display: block;
    clear: both;
}
header nav ul li a {
    text-decoration: none; /* 下線を消す */
    background-color: #0077ff; /* 背景色を茶色（#511717）に */
    color: #fff; /* 文字色を白（#fff） */
    padding: 10px 0; /* パディング 上下10px 左右0px */
    display: block; /* ブロックレベル表示 */
}
header nav ul li a:hover, /* カーソルを乗せた時 */
header nav ul li a:active, /* クリックした時 */
header nav ul li.current a { /* 現在ページの時 */
    background-color: #000;
}
/*---------------------------/header//main----------------------------------------------------------------*/
main {
    width: auto; 
    margin: 0 auto; /* 中央に配置 */
  }
#contents{
    zoom: 1;
    overflow: hidden;
    margin: 0 0 10px;
}
/*------------mainの中の#mainについて-------------------------------*/
#main{
    float: left;
    width: 100%;
}
#main #mainArea{
    height: 330px;
    margin: 0 10px 0 530px;
    padding: 10px;
}
#main #mainArea p{
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.5em;
}
/*----#mainの中のboxの扱い--------------------------------------*/
.box {
    width: 280px;
    margin-right: 10px;
    margin-left: 10px;
    float:left;
  }
  .box:last-child { /* 最後の.box */
    margin-right: 0;
  }
  .box h3 {
    text-align: center;
  }
  .box img {
    width: 260px;
    height: cover;
    display: block;
    border: 5px solid #fff;
    box-sizing: border-box; /* 幅の算出にボーダーを含める */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.22); /* 影を付ける */
  }
  p.photo {
    margin-bottom: 20px;
  }
  #inside p {
    font-size: 0.9em;
    line-height: 1.8;
  }
/*------------mainの中の#subについて-------------------------------*/
#sub{
  position: fixed;
  top: 0;
  left: 0;
  width: 480px;
  height: 960px;
  background-image: url(../gallery/1回生_ぽわ.jpeg);
  background-size: cover;

}  
.bg-rgba{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 480px;
  height: 960px;
}
.trim{
  margin: 20px 0 0 10px;
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
}
.trim img{
  margin-left: 4px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  height: 100%;
}
.sub_text{
  margin-top: 400px;
  margin-left: 70px;
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: absolute;
  font-size: 1.2em;
  text-align: center;
  line-height: 1.6;
}
@media only screen and (max-width: 750px) {
  #sub{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 480px;
  }
  .bg-rgba{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 480px;
  }
  .trim{
    margin: 20px 0 0 10px;
    position: relative;
    overflow: hidden;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
  }
  .trim img{
    margin-left: 4px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    height: 100%;
  }
  .sub_text{
    margin-top: 100px;
    margin-left: 70px;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.6;
  }
  #main{
    position: relative;
    top:480px;
    left: 0;
    width: 100%;
  }
  #main #mainArea{
    height: 330px;
    margin: 0 10px 0 80px;
    padding: 10px;
}
}
/*----------------------------/main-----------------------------------------------------------------------*/